<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Framework" version="15.8.166" targetFramework="net461" />
  <package id="Microsoft.Build.Utilities.Core" version="15.8.166" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net461" developmentDependency="true" />
  <package id="NuGet.CommandLine" version="4.9.6" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCopPlus.MSBuild" version="4.7.49.5" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="Text.Analyzers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
</packages>